main {
  min-height: 80vh;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.point {
  cursor: pointer;
}

.list {
  max-width: 700px;
  margin: auto;
  padding: 2em;
}

.profile {
  margin: auto;
  width: 400px;
  padding: 10px;
}

.fa-circle-plus {
  color: green;
  margin-left: 3px;
}

.add-list-wrapper {
  width: 400px;
}

.fa-circle-xmark {
  color: #bf1d1d;
}

.list-edit-input {
  width: 300px;
}

.load-btns {
  text-align: center;
}

.textarea {
  resize: none;
}
