main {
  min-height: 80vh;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.list {
  max-width: 700px;
  margin: auto;
  padding: 2em;
}

.profile {
  margin: auto;
  width: 400px;
  padding: 10px;
}

.fa-circle-plus {
  color: green;
  margin-left: 3px;
}

.fa-circle-plus:hover {
  cursor: pointer;
}

.add-list-wrapper {
  width: 400px;
}

.add-list-btn {
  text-decoration: none;
  border: 0px;
  background-color: white;
}
